/* Général ----------------------------------------------------------------
---------------------*/
body, p, legend, label, input {
    font: normal 8pt verdana, helvetica, sans-serif;
}
fieldset {
    padding: 10px;
    border: 1px #0568CD solid;
}
legend {
    font-weight: bold;
    color: #0568CD;
}
th, td {
    border: 1px dotted black;
}
table {
    border: 1px solid black;
}
/* Forms 
------------------------------------------------------------------------
---------------*/
form label {
    float: left;
    width: 200px;
    margin: 3px 0px 0px 0px;
}
form input {
    margin: 3px 3px 0px 0px;
    border: 1px #999 solid;
}
form input.sansLabel {
    margin-left: 200px;
}
form .requis {
    color: #c00;
}

form .erreur {
color: #900;
}

form .succes {
color: #1c6e25;
}

/*button de homepage*/
input[type=text], input[type="password"], input[type="email"] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text], input[type="password"], input[type="email"]:focus {
    border-color:#333;
}

input[type=submit] {
    padding:5px 15px; 
    background:#2b728c; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.title{
     -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: italic normal normal 50px/2 Arial Black, Gadget, sans-serif;
  color: black;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  letter-spacing: 5px;
  word-spacing: 6px;
  -webkit-transform: rotateX(13deg)   ;
  transform: rotateX(13deg)   ;
  
}


body{
   
    background-image: url("plane.jpg");
    background-size: cover;
}

